<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - INFNET - .NET WEB II - AV2</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container" style="background-color: azure;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("INFNET - .NET WEB II - AV2", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="background-color: azure;">

                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Clientes", "Index", "Clientes")</li>
                    <li>@Html.ActionLink("Produtos", "Index", "Produtos")</li>
                    <li>@Html.ActionLink("Fornecedores", "Index", "Fornecedores")</li>
                    <li>@Html.ActionLink("Processos", "Index", "Processos")</li>
                </ul>
            </div>
        </div>
    </div>
    <br/>
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="body-content container">
        @RenderBody()
        <hr />

        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <footer style="text-align: center;">
            <p>&copy; @DateTime.Now.Year - AV 2 - Equipe: Waldivino Frederico, Marcio Lobo e Daniel Dias</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
